PORT=3000
MONGO_URI=mongodb://soporteti_db_user:Santiago.2026@ac-5e5yh5h-shard-00-00.9ueuj3a.mongodb.net:27017,ac-5e5yh5h-shard-00-01.9ueuj3a.mongodb.net:27017,ac-5e5yh5h-shard-00-02.9ueuj3a.mongodb.net:27017/pmobm?ssl=true&replicaSet=atlas-b72tuf-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
